.prt-toppadder10 {
   padding-top: 10px;
}
.prt-toppadder20 {
   padding-top: 20px;
}
.prt-toppadder30 {
   padding-top: 30px;
}
.prt-toppadder40 {
   padding-top: 40px;
}
.prt-toppadder50 {
   padding-top: 50px;
}
.prt-toppadder60 {
   padding-top: 60px;
}
.prt-toppadder70 {
   padding-top: 70px;
}
.prt-toppadder80 {
   padding-top: 80px;
}
.prt-toppadder90 {
   padding-top: 90px;
}
.prt-toppadder100 {
   padding-top: 100px;
}
.prt-toppadder115 {
   padding-top: 115px;
}
.prt-bottompadder10 {
   padding-bottom: 10px;
}
.prt-bottompadder20 {
   padding-bottom: 20px;
}
.prt-bottompadder30 {
   padding-bottom: 30px;
}
.prt-bottompadder40 {
   padding-bottom: 40px;
}
.prt-bottompadder50 {
   padding-bottom: 50px;
}
.prt-bottompadder60 {
   padding-bottom: 60px;
}
.prt-bottompadder70 {
   padding-bottom: 70px;
}
.prt-bottompadder80 {
   padding-bottom: 80px;
}
.prt-bottompadder90 {
   padding-bottom: 90px;
}
.prt-bottompadder100 {
   padding-bottom: 100px;
}
.prt-bottompadder115 {
   padding-bottom: 115px;
}
.prt-padderboth120 {
   padding: 120px 0px;
}
